/* CSS Document */
.controlpanel16x16 {
	width:16px;
	height:16px;
	background:url(image/admincontrol_r2_c2.gif) no-repeat ;
}


.Admin48x48 {
	width:16px;
	height:16px;
	background:url(image/Icons/48x48/admincontrol48x48Icon_r1_c1.gif) no-repeat ;
}